.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("back3.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
}

.welcome-message {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.login-button {
  background-image: linear-gradient(to top, #3064e8 0%, #1edcbc 100%);
  color: #030303;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 3.5rem;
  margin-bottom: 1rem;
}

.login-button:hover {
  background-image: linear-gradient(to top, #7fbd97 0%, #f56600 100%);
}


.connected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("back4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
}

.connected-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.connected-account {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.connected-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.connected-button:hover {
  background-color: #0069d9;
}

.connected-contract-address {
  font-size: 1.2rem;
  text-align: center;
}


.candidates-table {
  border-collapse: collapse;
  width: 50%;
  text-align:center;
  margin-bottom: 3rem;
}

.candidates-table th, .candidates-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #a64747;
}

.candidates-table th {
  background-color: #cfb345;
}

input[type=number] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
}
.div2{
  background-color: black;
  height: 1rem;
  width: 100%;
}